In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import datetime

company_name='aartind'

def open_data(name):
    return 'Stock_market_data\\'+name.upper()+'__EQ__NSE__NSE__MINUTE.csv'

In [35]:
dir_list = os.listdir('Stock_market_data')
print(dir_list)

['AARTIIND__EQ__NSE__NSE__MINUTE.csv', 'ABCAPITAL__EQ__NSE__NSE__MINUTE.csv', 'ABFRL__EQ__NSE__NSE__MINUTE.csv', 'ADANIENT__EQ__NSE__NSE__MINUTE.csv', 'ADANIGAS__EQ__NSE__NSE__MINUTE.csv', 'ADANIPORTS__EQ__NSE__NSE__MINUTE.csv', 'AJANTPHARM__EQ__NSE__NSE__MINUTE.csv', 'AMARAJABAT__EQ__NSE__NSE__MINUTE.csv', 'APLLTD__EQ__NSE__NSE__MINUTE.csv', 'APOLLOHOSP__EQ__NSE__NSE__MINUTE.csv', 'APOLLOTYRE__EQ__NSE__NSE__MINUTE.csv', 'ASHOKLEY__EQ__NSE__NSE__MINUTE.csv', 'ASIANPAINT__EQ__NSE__NSE__MINUTE.csv', 'AUBANK__EQ__NSE__NSE__MINUTE.csv', 'AXISBANK__EQ__NSE__NSE__MINUTE.csv', 'BAJAJFINSV__EQ__NSE__NSE__MINUTE.csv', 'BAJAJ_AUTO__EQ__NSE__NSE__MINUTE.csv', 'BAJFINANCE__EQ__NSE__NSE__MINUTE.csv', 'BALKRISIND__EQ__NSE__NSE__MINUTE.csv', 'BANKINDIA__EQ__NSE__NSE__MINUTE.csv', 'BATAINDIA__EQ__NSE__NSE__MINUTE.csv', 'BBTC__EQ__NSE__NSE__MINUTE.csv', 'BEL__EQ__NSE__NSE__MINUTE.csv', 'BHARATFORG__EQ__NSE__NSE__MINUTE.csv', 'BHARTIARTL__EQ__NSE__NSE__MINUTE.csv', 'BHEL__EQ__NSE__NSE__MINUTE.csv', 'BPCL__EQ__NSE__NSE__MINUTE.csv', 'BRITANNIA__EQ__NSE__NSE__MINUTE.csv', 'CANBK__EQ__NSE__NSE__MINUTE.csv', 'CASTROLIND__EQ__NSE__NSE__MINUTE.csv', 'CESC__EQ__NSE__NSE__MINUTE.csv', 'CHOLAFIN__EQ__NSE__NSE__MINUTE.csv', 'CIPLA__EQ__NSE__NSE__MINUTE.csv', 'COALINDIA__EQ__NSE__NSE__MINUTE.csv', 'COFORGE__EQ__NSE__NSE__MINUTE.csv', 'COROMANDEL__EQ__NSE__NSE__MINUTE.csv', 'CROMPTON__EQ__NSE__NSE__MINUTE.csv', 'CUB__EQ__NSE__NSE__MINUTE.csv', 'CUMMINSIND__EQ__NSE__NSE__MINUTE.csv', 'DALBHARAT__EQ__NSE__NSE__MINUTE.csv', 'DHANI__EQ__NSE__NSE__MINUTE.csv', 'DIVISLAB__EQ__NSE__NSE__MINUTE.csv', 'DRREDDY__EQ__NSE__NSE__MINUTE.csv', 'EDELWEISS__EQ__NSE__NSE__MINUTE.csv', 'EICHERMOT__EQ__NSE__NSE__MINUTE.csv', 'EMAMILTD__EQ__NSE__NSE__MINUTE.csv', 'ENDURANCE__EQ__NSE__NSE__MINUTE.csv', 'ESCORTS__EQ__NSE__NSE__MINUTE.csv', 'EXIDEIND__EQ__NSE__NSE__MINUTE.csv', 'FEDERALBNK__EQ__NSE__NSE__MINUTE.csv', 'FORTIS__EQ__NSE__NSE__MINUTE.csv', 'FRETAIL__EQ__NSE__NSE__MINUTE.csv', 'GAIL__EQ__NSE__NSE__MINUTE.csv', 'GLENMARK__EQ__NSE__NSE__MINUTE.csv', 'GMRINFRA__EQ__NSE__NSE__MINUTE.csv', 'GODREJAGRO__EQ__NSE__NSE__MINUTE.csv', 'GODREJIND__EQ__NSE__NSE__MINUTE.csv', 'GODREJPROP__EQ__NSE__NSE__MINUTE.csv', 'GRASIM__EQ__NSE__NSE__MINUTE.csv', 'GSPL__EQ__NSE__NSE__MINUTE.csv', 'GUJGASLTD__EQ__NSE__NSE__MINUTE.csv', 'HCLTECH__EQ__NSE__NSE__MINUTE.csv', 'HDFCBANK__EQ__NSE__NSE__MINUTE.csv', 'HDFCLIFE__EQ__NSE__NSE__MINUTE.csv', 'HDFC__EQ__NSE__NSE__MINUTE.csv', 'HEROMOTOCO__EQ__NSE__NSE__MINUTE.csv', 'HINDALCO__EQ__NSE__NSE__MINUTE.csv', 'HINDUNILVR__EQ__NSE__NSE__MINUTE.csv', 'HUDCO__EQ__NSE__NSE__MINUTE.csv', 'IBULHSGFIN__EQ__NSE__NSE__MINUTE.csv', 'ICICIBANK__EQ__NSE__NSE__MINUTE.csv', 'IDEA__EQ__NSE__NSE__MINUTE.csv', 'IDFCFIRSTB__EQ__NSE__NSE__MINUTE.csv', 'INDHOTEL__EQ__NSE__NSE__MINUTE.csv', 'INDUSINDBK__EQ__NSE__NSE__MINUTE.csv', 'INFY__EQ__NSE__NSE__MINUTE.csv', 'IOC__EQ__NSE__NSE__MINUTE.csv', 'IPCALAB__EQ__NSE__NSE__MINUTE.csv', 'IRCTC__EQ__NSE__NSE__MINUTE.csv', 'ISEC__EQ__NSE__NSE__MINUTE.csv', 'ITC__EQ__NSE__NSE__MINUTE.csv', 'JINDALSTEL__EQ__NSE__NSE__MINUTE.csv', 'JSWENERGY__EQ__NSE__NSE__MINUTE.csv', 'JSWSTEEL__EQ__NSE__NSE__MINUTE.csv', 'JUBLFOOD__EQ__NSE__NSE__MINUTE.csv', 'KOTAKBANK__EQ__NSE__NSE__MINUTE.csv', 'LALPATHLAB__EQ__NSE__NSE__MINUTE.csv', 'LICHSGFIN__EQ__NSE__NSE__MINUTE.csv', 'LTTS__EQ__NSE__NSE__MINUTE.csv', 'LT__EQ__NSE__NSE__MINUTE.csv', 'L_TFH__EQ__NSE__NSE__MINUTE.csv', 'MANAPPURAM__EQ__NSE__NSE__MINUTE.csv', 'MARUTI__EQ__NSE__NSE__MINUTE.csv', 'MFSL__EQ__NSE__NSE__MINUTE.csv', 'MGL__EQ__NSE__NSE__MINUTE.csv', 'MINDTREE__EQ__NSE__NSE__MINUTE.csv', 'MPHASIS__EQ__NSE__NSE__MINUTE.csv', 'MRF__EQ__NSE__NSE__MINUTE.csv', 'M_MFIN__EQ__NSE__NSE__MINUTE.csv', 'M_M__EQ__NSE__NSE__MINUTE.csv', 'NAM_INDIA__EQ__NSE__NSE__MINUTE.csv', 'NATCOPHARM__EQ__NSE__NSE__MINUTE.csv', 'NATIONALUM__EQ__NSE__NSE__MINUTE.csv', 'NAVINFLUOR__EQ__NSE__NSE__MINUTE.csv', 'NESTLEIND__EQ__NSE__NSE__MINUTE.csv', 'NIFTY_100__EQ__INDICES__NSE__MINUTE.csv', 'NIFTY_500__EQ__INDICES__NSE__MINUTE.csv', 'NIFTY_50__EQ__INDICES__NSE__MINUTE.csv', 'NIFTY_AUTO__EQ__INDICES__NSE__MINUTE.csv', 'NIFTY_BANK__EQ__INDICES__NSE__MINUTE.csv', 'NIFTY_COMMODITIES__EQ__INDICES__NSE__MINUTE.csv', 'NIFTY_ENERGY__EQ__INDICES__NSE__MINUTE.csv', 'NIFTY_FIN_SERVICE__EQ__INDICES__NSE__MINUTE.csv', 'NIFTY_MIDCAP_100__EQ__INDICES__NSE__MINUTE.csv', 'NTPC__EQ__NSE__NSE__MINUTE.csv', 'OBEROIRLTY__EQ__NSE__NSE__MINUTE.csv', 'OIL__EQ__NSE__NSE__MINUTE.csv', 'ONGC__EQ__NSE__NSE__MINUTE.csv', 'PAGEIND__EQ__NSE__NSE__MINUTE.csv', 'PFIZER__EQ__NSE__NSE__MINUTE.csv', 'PIIND__EQ__NSE__NSE__MINUTE.csv', 'POLYCAB__EQ__NSE__NSE__MINUTE.csv', 'POWERGRID__EQ__NSE__NSE__MINUTE.csv', 'PRESTIGE__EQ__NSE__NSE__MINUTE.csv', 'RAJESHEXPO__EQ__NSE__NSE__MINUTE.csv', 'RAMCOCEM__EQ__NSE__NSE__MINUTE.csv', 'RBLBANK__EQ__NSE__NSE__MINUTE.csv', 'RECLTD__EQ__NSE__NSE__MINUTE.csv', 'RELIANCE__EQ__NSE__NSE__MINUTE.csv', 'SAIL__EQ__NSE__NSE__MINUTE.csv', 'SANOFI__EQ__NSE__NSE__MINUTE.csv', 'SBILIFE__EQ__NSE__NSE__MINUTE.csv', 'SBIN__EQ__NSE__NSE__MINUTE.csv', 'SHREECEM__EQ__NSE__NSE__MINUTE.csv', 'SRF__EQ__NSE__NSE__MINUTE.csv', 'SRTRANSFIN__EQ__NSE__NSE__MINUTE.csv', 'SUNPHARMA__EQ__NSE__NSE__MINUTE.csv', 'SUNTV__EQ__NSE__NSE__MINUTE.csv', 'SYNGENE__EQ__NSE__NSE__MINUTE.csv', 'TATACHEM__EQ__NSE__NSE__MINUTE.csv', 'TATAMOTORS__EQ__NSE__NSE__MINUTE.csv', 'TATAPOWER__EQ__NSE__NSE__MINUTE.csv', 'TATASTEEL__EQ__NSE__NSE__MINUTE.csv', 'TCS__EQ__NSE__NSE__MINUTE.csv', 'TECHM__EQ__NSE__NSE__MINUTE.csv', 'TITAN__EQ__NSE__NSE__MINUTE.csv', 'TORNTPOWER__EQ__NSE__NSE__MINUTE.csv', 'TRENT__EQ__NSE__NSE__MINUTE.csv', 'TVSMOTOR__EQ__NSE__NSE__MINUTE.csv', 'ULTRACEMCO__EQ__NSE__NSE__MINUTE.csv', 'UNIONBANK__EQ__NSE__NSE__MINUTE.csv', 'UPL__EQ__NSE__NSE__MINUTE.csv', 'VBL__EQ__NSE__NSE__MINUTE.csv', 'VGUARD__EQ__NSE__NSE__MINUTE.csv', 'VOLTAS__EQ__NSE__NSE__MINUTE.csv', 'WHIRLPOOL__EQ__NSE__NSE__MINUTE.csv', 'WIPRO__EQ__NSE__NSE__MINUTE.csv', 'YESBANK__EQ__NSE__NSE__MINUTE.csv', 'ZEEL__EQ__NSE__NSE__MINUTE.csv']

In [37]:
filename='AARTIIND__EQ__NSE__NSE__MINUTE.csv'

dp=pd.read_csv('Stock_market_data\\'+filename)
dp['timestamp'] = pd.to_datetime(dp['timestamp'],format='%Y-%m-%d %H:%M:%S%z')
dp['date']=dp['timestamp'].dt.date
dp['time']=dp['timestamp'].dt.time

In [47]:
from datetime import datetime

def ptime(t):
    return datetime.strptime(t, "%H:%M:%S").time()

early_morning=ptime('10:30:00')
late_morning=ptime('12:00:00')
midday=ptime('01:30:00')

In [49]:
for i in dp.index:
    if dp['time'][i] <= early_morning:
        dp.loc[i,'quater']='early morning'
    elif dp['time'][i] < late_morning:
        dp.loc[i,'quater']='late morning'
    elif dp['time'][i] <= midday:
        dp.loc[i,'quater']='midday'
    else:
        dp.loc[i,'quater']='afternoon'

In [40]:
for i in dp.index:
    if i == 0:
        dp.loc[i,'%change']=0
    else:
        dp.loc[i,'%change']=(dp.loc[i,'close']-dp.loc[i-1,'close'])/dp.loc[i-1,'close']*100

In [41]:
import math
sum1=0

for i in dp.index:
    if math.isnan(dp.loc[i,'close']):
        dp.loc[i,'MA']=sum1
    else:
        dp.loc[i,'MA']=(sum1*i+dp.loc[i,'close'])/(i+1)
        sum1=dp.loc[i,'MA']

In [42]:
print(dp)

                       timestamp     open    high     low    close  volume  \
0      2017-01-02 09:15:00+05:30   340.00   340.0   340.0   340.00    11.0
1      2017-01-02 09:16:00+05:30   340.00   340.0   340.0   340.00     0.0
2      2017-01-02 09:17:00+05:30   340.00   340.0   340.0   340.00     0.0
3      2017-01-02 09:18:00+05:30   340.00   343.7   340.0   343.70     1.0
4      2017-01-02 09:19:00+05:30   343.70   343.7   343.7   343.70     1.0
...                          ...      ...     ...     ...      ...     ...
370453 2021-01-01 15:25:00+05:30  1261.05  1261.4  1259.5  1260.00   771.0
370454 2021-01-01 15:26:00+05:30  1260.00  1261.0  1259.6  1260.85   902.0
370455 2021-01-01 15:27:00+05:30  1260.90  1260.9  1259.6  1260.10  1104.0
370456 2021-01-01 15:28:00+05:30  1260.50  1260.9  1259.6  1260.00  2484.0
370457 2021-01-01 15:29:00+05:30  1259.60  1260.0  1257.2  1260.00   834.0

              date      time     quater   %change          MA
0       2017-01-02  09:15:00    morning  0.000000  340.000000
1       2017-01-02  09:16:00    morning  0.000000  340.000000
2       2017-01-02  09:17:00    morning  0.000000  340.000000
3       2017-01-02  09:18:00    morning  1.088235  340.925000
4       2017-01-02  09:19:00    morning  0.000000  341.480000
...            ...       ...        ...       ...         ...
370453  2021-01-01  15:25:00  afternoon -0.083264  716.842904
370454  2021-01-01  15:26:00  afternoon  0.067460  716.844372
370455  2021-01-01  15:27:00  afternoon -0.059484  716.845839
370456  2021-01-01  15:28:00  afternoon -0.007936  716.847305
370457  2021-01-01  15:29:00  afternoon  0.000000  716.848771

[370458 rows x 11 columns]

In [44]:
print(list(dp.columns))

['timestamp', 'open', 'high', 'low', 'close', 'volume', 'date', 'time', 'quater', '%change', 'MA']

In [45]:
dp=dp[['timestamp','date', 'time', 'quater', 'open', 'high', 'low', 'close', 'volume', '%change', 'MA']]

In [50]:
print(dp)

                       timestamp        date      time         quater  \
0      2017-01-02 09:15:00+05:30  2017-01-02  09:15:00  early morning
1      2017-01-02 09:16:00+05:30  2017-01-02  09:16:00  early morning
2      2017-01-02 09:17:00+05:30  2017-01-02  09:17:00  early morning
3      2017-01-02 09:18:00+05:30  2017-01-02  09:18:00  early morning
4      2017-01-02 09:19:00+05:30  2017-01-02  09:19:00  early morning
...                          ...         ...       ...            ...
370453 2021-01-01 15:25:00+05:30  2021-01-01  15:25:00      afternoon
370454 2021-01-01 15:26:00+05:30  2021-01-01  15:26:00      afternoon
370455 2021-01-01 15:27:00+05:30  2021-01-01  15:27:00      afternoon
370456 2021-01-01 15:28:00+05:30  2021-01-01  15:28:00      afternoon
370457 2021-01-01 15:29:00+05:30  2021-01-01  15:29:00      afternoon

           open    high     low    close  volume   %change          MA
0        340.00   340.0   340.0   340.00    11.0  0.000000  340.000000
1        340.00   340.0   340.0   340.00     0.0  0.000000  340.000000
2        340.00   340.0   340.0   340.00     0.0  0.000000  340.000000
3        340.00   343.7   340.0   343.70     1.0  1.088235  340.925000
4        343.70   343.7   343.7   343.70     1.0  0.000000  341.480000
...         ...     ...     ...      ...     ...       ...         ...
370453  1261.05  1261.4  1259.5  1260.00   771.0 -0.083264  716.842904
370454  1260.00  1261.0  1259.6  1260.85   902.0  0.067460  716.844372
370455  1260.90  1260.9  1259.6  1260.10  1104.0 -0.059484  716.845839
370456  1260.50  1260.9  1259.6  1260.00  2484.0 -0.007936  716.847305
370457  1259.60  1260.0  1257.2  1260.00   834.0  0.000000  716.848771

[370458 rows x 11 columns]

In [53]:
dp.to_csv('Updated_Stock_market_data\\abcd.csv',index=False)

In [ ]:
for filename in dir_list:
    dp=pd.read_csv('Stock_market_data\\'+filename)
    dp['timestamp'] = pd.to_datetime(dp['timestamp'],format='%Y-%m-%d %H:%M:%S%z')
    dp['date']=dp['timestamp'].dt.date
    dp['time']=dp['timestamp'].dt.time
    
    sum1=0
    for i in dp.index:
        if dp['time'][i] <= early_morning:
            dp.loc[i,'quater']='early morning'
        elif dp['time'][i] < late_morning:
            dp.loc[i,'quater']='late morning'
        elif dp['time'][i] <= midday:
            dp.loc[i,'quater']='midday'
        else:
            dp.loc[i,'quater']='afternoon'

        if i == 0:
            dp.loc[i,'%change']=0
        else:
            dp.loc[i,'%change']=(dp.loc[i,'close']-dp.loc[i-1,'close'])/dp.loc[i-1,'close']*100
    
        if math.isnan(dp.loc[i,'close']):
            dp.loc[i,'MA']=sum1
        else:
            dp.loc[i,'MA']=(sum1*i+dp.loc[i,'close'])/(i+1)
            sum1=dp.loc[i,'MA']
        
        dp=dp[['timestamp','date', 'time', 'quater', 'open', 'high', 'low', 'close', 'volume', '%change', 'MA']]